extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content   
        .content-body
            .success-text
                p Projeto Aplicado - Projeto 2! Implantado com sucesso.
            .description 
                p Guilherme Mendes Santos
            .description
                p Este aplicativo e uma aplicativo Node.js executado diretamente da azure.
    
  .row
    .col-md-4
      h2 Linkedin
      p Me siga no Linkedin
      p
        a.btn.btn-default(href='https://www.linkedin.com/in/guilherme-mendes-santos-4a69ba171/') Click aqui &raquo;
    .col-md-4
      h2 XPE Educação
      p
        a.btn.btn-default(href='https://www.xpeducacao.com.br/') Click aqui &raquo;
    .col-md-4
      h2 Portal Azure
      p
        a.btn.btn-default(href='https://portal.azure.com/') Click aqui &raquo;